body {
  margin: 0;
  padding: 0;
}
.app {
  width: 1200px;
  margin: 100px auto 0;
  text-align: center;
}
.app .show_content_box .show_content_item {
  width: 200px;
  margin: 20px auto 0;
  text-align: left;
}
